@import '../../../styles/settings.scss';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .footer-nav {
    display: flex;
    justify-content: center;
  }
  .footer-copyright {
    text-align: center;
  }
}

@media (max-width: $media-query-2) {
  .footer {
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;

    .footer-copyright {
      align-self: center;
    }
  }
}
