@import '../../../../styles/settings.scss';

.cart {
  display: flex;
  flex-direction: column;
}
.cart-checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .cart-checkout-code-input {
    input {
      width: 200px;
      height: 40px;
      padding: 2px;
      vertical-align: middle;
      border: 1px solid $color-textfield-border;
      border-radius: 5px;
    }
    .button {
      margin-left: 0;
      padding: 0;
      height: 40px;
      width: 40px;
      line-height: 40px;
      vertical-align: middle;
      text-align: center;
      font-size: 25px;
      svg {
        transform: translate(0px, 2px);
      }
    }
  }
}
