@import '../../../../styles/settings.scss';

.cart {
  display: flex;
  flex-direction: column;
}
.cart-checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .cart-checkout-code-input {
    input {
      width: 200px;
      height: 40px;
      padding: 2px;
      vertical-align: middle;
      border: 1px solid $color-textfield-border;
      border-radius: 5px;
    }
  }
  .btn-secondary {
    border-color: $color-duck;
    background-color: $color-duck;
    color: $color-text;
    &:hover {
      background-color: $color-duck-nose;
      border-color: $color-duck-nose;
      color: $color-text-bright;
    }
  }
  > .btn-secondary {
    margin: 20px 0;
    &.disabled,
    &.disabled:hover {
      background-color: $color-text-bright;
      color: $color-text-lightest;
      border-color: $color-text-lightest;
    }
  }
}
