.header__menu {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  li {
    text-transform: uppercase;
  }
  a.active {
    font-weight: bold;
  }
}
