@import '../../../styles/settings.scss';

.navbar-brand {
  padding: 0;
}
.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}
.nav-item {
  margin: 0 10px;
  &:last-of-type {
    margin-right: 20px;
  }
}
.header-menu-cart-icon {
  position: relative;
  font-size: 25px;
  .cart-icon-products {
    font-weight: normal;
    position: absolute;
    top: 13px;
    left: 20px;
    padding: 1px;
    font-size: 12px;
    border-radius: 50%;
    height: 22px;
    min-width: 22px;
    line-height: 20px;
    text-align: center;
    color: $color-text-bright;
    background: $color-cart-count-back;
  }
}
