@import '../../../styles/settings.scss';

.navbar-brand {
  padding: 0;
}
.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}
.nav-item {
  margin: 0 10px;
  &:last-of-type {
    margin-right: 20px;
  }
}
.header-menu-cart-icon {
  position: relative;
  font-size: 25px;
  .cart-icon-products {
    font-weight: normal;
    position: absolute;
    top: 18px;
    left: 28px;
    font-size: 12px;
    padding: 0 2px 0 2px;
    height: 22px;
    min-width: 22px;
    line-height: 22px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    color: $color-text-bright;
    background: $color-cart-count-back;
    span {
      display: inline-block;

      line-height: 22px;
      height: 22px;
    }
  }
}

@media (max-width: 768px) {
  .header-menu-cart-icon .cart-icon-products {
    top: 18px;
    left: 21px;
  }
}
