.checkout-summary {
  h2 {
    text-align: center;
  }
  table {
    margin: 0 auto;
    border: black solid 1px;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    tr,
    td,
    th {
      border: black solid 1px;
      padding: 10px;
    }
  }
}
