@import '../../../styles/settings.scss';

.list-product__container {
  position: relative;
  display: block;
  width: 400px;
  height: 500px;
  margin: 10px;
  .list-product__img {
    max-width: 100%;
    background-color: lightgray;
  }
  div[class^='list-product'] {
    display: inline-block;
    position: absolute;
  }
  .list-product__last-tag {
    left: 5px;
    top: 15px;
    .product-tag {
      background: $color-warning-back;
    }
  }
  .out-of-stock {
    .product-tag {
      background: $color-error-back;
    }
  }
  .list-product__tag {
    right: 5px;
    top: 15px;
  }
  .list-product__name {
    left: 10px;
    bottom: 5px;
    .product-name {
      font-size: 20px;
    }
  }
  .list-product__price {
    right: 10px;
    bottom: 5px;
  }
}
