@import '../../../../styles/settings.scss';

.sorting-widget {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .sorting-title {
    margin-bottom: 10px;
  }
}
.btn-outline-secondary {
  display: none;
  padding: 15px;
  font-size: 25px;
  background-color: $color-duck;
  border: $border-width-duck solid $color-duck;
  &:hover {
    background-color: $color-duck-nose;
  }
  &:active {
    background-color: $color-duck-nose;
  }
  &:focus {
    border-color: $color-info;
  }
}

@media (max-width: $media-query-2) {
  .sorting-widget {
    margin: 0;
    .sorting-title {
      display: none;
    }
    flex-direction: row;
    justify-content: space-evenly;
    span {
      display: none;
    }
  }
  .btn-outline-secondary {
    display: inline-block;
  }
}
