@import '../../../styles/settings.scss';

.footer-menu {
  display: flex;
  flex: 1 1 80%;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  li {
    text-transform: uppercase;
    margin: 0 15px;
    a {
      color: $color-text-lightest;
    }
    &:hover {
      font-weight: bold;
      color: $color-text-bright;
    }
  }
}
