@import "../../../../styles/settings.scss";

.total {
  font-size: 30px;
  float: right;
  clear: both;
  margin-right: 20px;
}
.discount {
  font-size: 20px;
  float: right;
  color: $color-discount;
  margin-right: 20px;
}
