@import '../../../../styles/settings.scss';

.list-product-container {
  margin: 8px 8px 28px 8px;
  position: relative;
  display: block;
  box-shadow: 6px 6px 8px $color-text-light;
  padding-bottom: 65px;

  .list-product-img {
    max-width: 400px;
    width: 100%;
    height: auto;
    background-color: lightgray;
    border-bottom: 1px solid $color-text-disabled;
  }
  div[class^='list-product'] {
    display: inline-block;
    position: absolute;
  }
  .list-product-last-tag {
    left: 5px;
    top: 15px;
    .product-tag {
      background: $color-duck-nose;
      color: $color-text-bright;
    }
  }
  .out-of-stock {
    .product-tag {
      background: $color-error;
    }
  }
  .list-product-tag {
    right: 5px;
    top: 15px;
  }
  .list-product-name {
    left: 10px;
    bottom: 15px;
    background-color: $color-background-transparent;
    padding: 5px;
  }
  .list-product-price {
    right: 10px;
    bottom: 15px;
    background-color: $color-background-transparent;
    padding: 5px;
  }
}
