@import '../../../styles/settings.scss';
.pagination {
  li {
    button {
      color: $color-text-light;
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      width: 10px;
      user-select: none;
      &:hover,
      &:active,
      &:focus {
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }
  .page-link:hover svg,
  .page-link:hover {
    color: $color-text;
    text-shadow: 0 0 1px grey;
  }
  .page-link svg,
  .page-link span {
    color: $color-text-light;
  }
  .disabled svg,
  .disabled span {
    color: $color-text-disabled;
  }
  .page-item.active .page-link {
    background: none;
    color: $color-success;
    font-weight: bold;
    text-shadow: none;
  }
}

/* .pagination-item--hidden {
  visibility: hidden;
} */
