@import '../../../styles/settings.scss';

.main-section {
  display: flex;
  .sorting-widget-container {
    margin-top: 100px;
    flex: 1 1 20%;
    p {
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .product-list-container {
    flex: 1 1 80%;
  }
}

@media (max-width: $media-query-2) {
  .main-section {
    flex-direction: column;
    .sorting-widget-container {
      margin-top: 10px;
    }
  }
}
