.main-section {
  margin: 50px 0;
  display: flex;
  .sorting-widget-container {
    flex: 1 1 20%;
    p {
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .product-list-container {
    flex: 1 1 80%;
  }
}

@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
  }
}
